Repository bellshade/Dart: changes, and which Mergify rules are due for each by the changed paths.
All: dart label, markdown label

dart label:
  label:
    add:
    - dart files
    - request dart-team untuk review

markdown label:
  label:
    add:
    - markdown files
    - request docs-team untuk review

docs: menambahkan file .mergify.yml (#34)
  .mergify.yml
Due: none

add: test mergify dengan file dart
  basic/test_mergify.dart
Due: dart label

fix: menghapus mergify mention akun personal
  .mergify.yml
Due: none

docs: update template untuk PR
  .github/pull_request_template.md
Due: markdown label

Fix mergify & template PR (#36)
  .github/pull_request_template.md
  .mergify.yml
Due: markdown label

docs: memperbaiki mergify.yml
  .mergify.yml
Due: none

docs: menambah tabel materi basic di readme
  README.md
  basic/8_fungsi/README.md
Due: markdown label

Fix mergify dan readme (#45)
  .mergify.yml
  README.md
  basic/8_fungsi/README.md
Due: markdown label

docs: update readme
  basic/8_fungsi/README.md
Due: markdown label

docs: Update readme
  basic/8_fungsi/README.md
Due: markdown label

Update README.md
  basic/8_fungsi/README.md
Due: markdown label

docs: update documentation
  basic/8_fungsi/README.md
Due: markdown label

feat: tambah kode dari dokumentasi
  basic/8_fungsi/fungsi.dart
Due: dart label

docs: memperbaiki typo di table mulai belajar
  README.md
Due: markdown label

feat(class): tambah fitur callable class
  lanjutan/3_class/Readme.md
  lanjutan/3_class/callalble_class.dart
Due: dart label, markdown label

docs: fix typo nama file untuk callable class
  lanjutan/3_class/callable_class.dart
Due: dart label

feat: add Symbol data type
  basic/2_tipe_data/README.md
  basic/2_tipe_data/tipe_data.dart
Due: dart label, markdown label

fix: change my own dart prettier setting following the Contribution.md
  basic/2_tipe_data/tipe_data.dart
Due: dart label

docs: memperbaiki typo di table mulai belajar (#51)
  README.md
Due: markdown label

Add Symbol data type (#53)
  basic/2_tipe_data/README.md
  basic/2_tipe_data/tipe_data.dart
Due: dart label, markdown label

feat: add type test operator
  basic/4_operator_dan_logika_aritmatika/Readme.md
  basic/4_operator_dan_logika_aritmatika/operator_dan_logika_aritmatika.dart
Due: dart label, markdown label

feat: add Type test operator (#54)
  basic/4_operator_dan_logika_aritmatika/Readme.md
  basic/4_operator_dan_logika_aritmatika/operator_dan_logika_aritmatika.dart
Due: dart label, markdown label

Path conditions:
  dart label: any of: \.dart$
  markdown label: any of: \.md$
